<h3>
  <i title='{{tone}}' class='icon-heart {{TONE_ICON}}'>
    {{obj.name}}
  </i>
</h3>
<div class='voteBtns'>
  <a href='#' class='btn voteBtn upVote {{upVoteBtnClass}}'>Yes <i class='upVote icon-thumbs-up'> </i></a>
  <a href='#' class='btn voteBtn downVote {{downVoteBtnClass}}'>No <i class='downVote icon-thumbs-down'> </i></a>
</div>
<div class='hidden rating {{ratingType}}'>
</div>
