<td style='width:17%;' class='tdDivider text-h-center text-v-center noSelect'>
  <i style='font-size: 3em; color:{{color}};' data-toggle='tooltip' title='{{tone}}' class='icon-heart'>
    <span class='noSelect toneText'> {{tone}}<span>
  </i>
</td>
<td class='head'>
  <h3>{{obj.name}}</h3>
  <span style='position: absolute; top: 5px; left: 10px;'></span>
  <div class='voteBtns'>
    <a href='#' class='btn voteBtn upVote {{upVoteBtnType}}'>Yes <i class='upVote icon-thumbs-up'></i></a>
    <a href='#' class='btn voteBtn downVote {{downVoteBtnType}}'>No <i class='downVote icon-thumbs-down'></i></a>
  </div>
  <div class='hidden rating {{ratingType}}'>
  </div>
</td>
