<div class="info-card detail">
  <div class="header">
    {{#if editing}}
    <div id="profile-img" class="profile pull-left js-profile" style="background-image: url('//cloverite.com/static/img/blank.png')">
      <button id="change-image-btn" class="btn-small btn btn-white" style="margin: 0 auto;display: block; margin-top: 105%;">Change</button>
    </div>
    <ul class="meta pull-left">
      <li class="name">
        <input id="name" class="title-input js-title" placeholder="Title" type="text">
      </li>
      <li class="hash">
        <input id="tag" class="hash-input js-hash" placeholder="#hashtag" type="text">
      </li>
    </ul>
    <button id="save-btn" class="btn btn-success" style="margin: 0 auto;display: block; float: right;">Save</button>
    <div>
      <textarea id="description" placeholder="Enter description here."></textarea>
    </div>
    {{else}}
    <div class="profile pull-left js-profile" style="background-image: url('{{imgURL}}')"></div>
    <ul class="meta pull-left">
      <li class="name">
        <span class="title-input js-title">{{name}}</span>
      </li>
      <li class="hash">
        <ul class="hash">
          {{{hashTags}}}
        </ul>
      </li>
    </ul>
    <ul class="contributor pull-right">
      {{{contributors}}}
    </ul>
    <span class="pull-right"> Contributed by</span>
    <div class="pull-left">
      <p>{{description}}</p>
    </div>
    {{/if}}
  </div>
</div>
