<td style="width: 15%; text-align: center !important;" class='tdDivider'>
  <input type='text' value='{{summary.avgScore}}' class='pull-left idial span1'>
  <span class='pull-left sdial'>{{summary.avgScore}} %</span>
</td>
<td class='head' style="width:25%; background: url({{#if imgURL}} {{imgURL}} {{else}} /static/img/blank.png {{/if}})">
  <h4>
    <a class='btn-like' style='color: white !important;' href='{{window.location.origin}}/entity/{{id}}'>
      {{name}}
    </a>
  </h4>
</td>
<td class='body tdDivider'>
  <div class='rowDescription'>{{description}}</div>
</td>
<td class='stat'>
  <ul class='statList'>
    <li><i class='fa fa-tasks'></i> {{summary.totalVote}} Votes</li>
    <li><i class='fa fa-cloud'></i> {{summary.totalAttribute}} Attributes</li>
  </ul>
</td>
