<td class='ranking tdDivider'>
  <input type='text' value='{{obj.summary.avgScore}}' class='pull-left idial span1'>
  <span class='pull-left sdial'>{{obj.summary.avgScore}} %</span>
</td>
<td class='head' style="width:25%; background: url({{#if obj.imgURL}} {{obj.imgURL}} {{else}} /static/img/blank.png {{/if}})">
  <h4>
    <a class='' href='{{window.location.origin}}/entity/{{obj.id}}'>
      {{obj.name}}
    </a>
  </h4>
</td>
<td class='body tdDivider'>
  <div class='rowDescription'>{{obj.description}}</div>
</td>
<td class='stat'>
  <ul class='statList'>
    <li><i class='icon-check'></i> {{obj.summary.totalVote}} Votes</li>
    <li><i class='icon-tags'></i> {{obj.summary.totalAttribute}} Attributes</li>
  </ul>
</td>
