<div class="info-card">
  <div class="header">
    <div class="profile pull-left js-profile" style="background-image: url('{{profileIconUrl}}');"></div>
    <ul class="meta pull-left">
      <li class="name"> {{title}}</li>
      <li class="hash"> {{hashTag}}</li>
    </ul>
    <ul class="action">
      <li><i class="fa fa-code-fork fa-2x"></i></li>
      <li><i class="fa fa-envelope-o fa-2x"></i></li>
    </ul>
  </div>
  <hr>
 <div class="content editing editzone js-editzone">
    <div class="instruction">
      <div class="inner">
        <i class="fa fa-arrow-circle-o-down fa-2x"></i>
        <br>
        <span class="">Drag Content Here</span>
      </div>
    </div>
  </div>
  <div class="footer">
    <div class="edit-tool pull-left hide">
      <button class="btn btn-small btn-success">Save</button>
    </div>
    <div class="by pull-right">By <a href="{{authorProfileUrl}}" class="">{{authorName}}</a>
    </div>
  </div>
</div>
