<div class="info-card">
  <div class="header">
    <div class="profile pull-left" style="background-image: url('{{profilePictureSrc}}');"></div>
    <ul class="meta pull-left">
      <li class="name"> {{title}}</li>
      <li class="hash"> {{hashTag}}</li>  
    </ul>
    <ul class="action">
      <li><i class="fa fa-code-fork"></i></li>
      <li><i class="fa fa-envelope-o"></i></li>
    </ul>
  </div>
  <hr>
 <div class="content editing editzone">
    <div class="instruction">
      <div class="inner">
        <i class="fa fa-arrow-circle-o-down fa-2x"></i>
        <br>
        <span class="">Drag Content Here</span>
      </div>
    </div>
  </div>
  <div class="footer">
    <div class="by pull-right">By <a href="{{profileLink}}" class="">{{profileName}}</a>
    </div>
  </div>
</div>
