<div class="card-header">
</div>
<div class="photo">
  <a class="btn-like" href="{{entityUrl}}">
    {{#if profileImg}}
    <img class="profileimg" src="{{srcUrl}}">
    {{else}}
    <div class="profileHeading">
      <span>{{title}}</span>
    </div>
    {{/if}}
  </a>
</div>
<div class="contentContainer outer">
  <div class="entityDetail">
  </div>
  <ul class="view-toolbar" style="">
    <li>
      <i class="fa fa-heart-o fa-lg"></i>
      <i class="fa fa-twitter fa-lg"></i>
      <i class="fa fa-code fa-lg"></i>
      <i class="fa fa-share-square-o fa-lg"></i>
    </li>
    <li>{{uniqueId}}</li>
  </ul>
  <ul class="tags tagit">
    {{tag}}
  </ul>
</div>
